[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.3"
psycopg2-binary = "==2.9.3"
python-decouple = "==3.6"
requests = "==2.27.1"
icecream = "==2.1.2"
pytest-django = "==4.5.2"
pytest-cov = "==3.0.0"
whitenoise = "==6.1.0"
black = "==22.3.0"
flake8 = "==4.0.1"
pytest-selenium = "==3.0.0"
python-dotenv = "==0.20.0"
dj-database-url = "*"
django-environ = "*"
django-extensions = "*"
django-on-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
