[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-decouple = "*"
requests = "*"
icecream = "*"
pytest-django = "*"
pytest-cov = "*"
whitenoise = "*"
black = "*"
flake8 = "*"
pytest-selenium = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
