{% extends 'base.html' %}


{% block content %}

    <br/>
    <br/>
    <br/>

    <div>
        <hr/>
        <div class="container-fluid p-0">
            <div class="row g-0">
                    {% for product in substitute_products %}        
                        <div class="col-lg-4">
                            <form action = "get-substitutes" method="get">
                                <button class="product-as-button" type="submit">
                                    <input type="hidden" name="nutriscore_grade" value="{{product.nutriscore_grade}}" />
                                    <input 
                                        type="text"
                                        name="id"
                                        value="{{ product.id }}"
                                        hidden/>

                                    <!-- Picture -->
                                    <div class="one-row">
                                        <div class="w-33pc"></div>
                                        <div class="w-33pc">
                                            <div class="one-row">
                                            <img src="{{product.image_thumb_url}}" />
                                            <img
                                                class="mini-nutriscore"
                                                src="static/images/nutriscore_{{product.nutriscore_grade}}.jpg"
                                                alt="Nutriscore: {{product.nutriscore_grade}}"
                                                title="{{product.name}}" />
                                            </div>
                                        </div>


                                    </div>

                                    <!-- Summary -->
                                    <center>{{product.name}}</center><br />
                                    <center>Marque: {{product.brands}}</center><br />
                                </button><br/>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>

    </div>

{% endblock %}